*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Calibri;
    margin: 2%;
}

.main-title {
    margin:0;
    text-align: center;
    background-color: antiquewhite;
    text-transform: uppercase;
    color : chocolate;
}

.navbar {
    background-color: antiquewhite;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu li {
    list-style-type: none;
    margin: 20px;
}

.btn-home {
    text-decoration: none;
    border: 1px solid peru;
    border-radius: 15px;
    background-color:peru;
    padding: 10px;
    color: white;
}

 .btn-cat, .btn-list, .btn-primary {
    text-decoration: none;
    border: 1px solid chocolate;
    border-radius: 15px;
    background-color: chocolate;
    padding: 10px;
    color: white;
    }
.mess-success {
    color:chocolate;
    text-transform: uppercase;
    font-weight: bold;
}
.mess-error {
    color: orangered;
    text-transform: uppercase;
    font-weight: bold;
}
.container {
    display: flex;
    justify-content: center;
    padding: 1%;
}
.insert {
    padding:1%;
}
article {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:2%;
}
article h2 {
    text-transform: uppercase;
}

article h2,a,p {
    padding-bottom: 3%;
}

article a, .btn-insert {
    text-decoration: none;
    border: 1px solid chocolate;
    border-radius: 15px;
    background-color: antiquewhite;
    padding: 3px;
    color: chocolate;
}
article a{
    padding:5px;
    margin-top: 5px;
}
.author {
    font-weight: bold;
    padding-top: 2%;
    text-transform: uppercase;
}

form {
    background-color:antiquewhite;
    padding:10px;
    width:280px;
    text-align: center;
}
fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid chocolate;
}
legend {
    color:chocolate;
    font-weight:bold
}

label {
    color: chocolate;
    margin-top:10px;
    display:block;
}
label.inline {
    display:inline;
    margin-right:50px;
}
input, textarea, select {
    padding:3px;
    margin-bottom: 10px;
    border:1px solid chocolate;
    border-radius:5px;
    width:200px;
}
select {
    margin-top:10px;
}
input[type=submit]{
    width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px chocolate;
    cursor:pointer;
    color: chocolate;
}
footer {
    text-align: center;
    color:chocolate;
    text-transform: capitalize;
    font-weight: bold;
}

@media screen and (max-width: 768px) {

    .container {
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .menu {
        justify-content: center;
    }
}





