*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: Calibri;
}
.main-title {
    text-align: center;
    background-color: antiquewhite;
    text-transform: uppercase;
    color : chocolate;
}
.navbar {
    background-color: antiquewhite;
}
.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu li {
    list-style-type: none;
    margin: 20px;
}

.btn-home, .btn-list {
    text-decoration: none;
    border: 1px solid chocolate;
    border-radius: 15px;
    background-color: chocolate;
    padding: 10px;
    color: white;
}

 .btn-cat {
    text-decoration: none;
    border: 1px solid peru;
    border-radius: 15px;
    background-color: peru;
    padding: 10px;
    color: white;
    }
.mess-success {
    color:darkolivegreen;
    text-transform: uppercase;
}
.mess-error {
    color: orangered;
    text-transform: uppercase;
}
.container {
    display: flex;
    padding: 2%;

}
.insert {
    padding:1%;
}
article {
    text-align: center;
    padding: 2%;
}
article h2 {
    text-transform: uppercase;
}
.photos{
    width: 50%;
}

article h2,a,p {
    padding-bottom: 3%;
}

article a, .btn-insert {
    text-decoration: none;
    border: 1px solid chocolate;
    border-radius: 15px;
    background-color: antiquewhite;
    padding: 3px;
    color: chocolate;
}

.author {
    font-weight: bold;
    padding-top: 2%;
    text-transform: uppercase;
}

footer {
    text-align: center;
}

@media screen and (max-width: 768px) {

    .container {
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .menu {
        justify-content: center;
    }
}





