{% extends "base.html.twig" %}

{% block title %}
    <title>{{ "articlesList" }}</title>
{% endblock %}

{% block main %}
   <section class= "container">
          {% for article in articlesList  %}
                 {% include "admin/_article.html.twig" %}
          {% endfor %}
   </section>
{% endblock %}

{% block footer %}
    <p>footer 2</p>
{% endblock %}
