{% extends "base.html.twig" %}

      {% block main %}
           <section class= "container">
                  {% for article in articles_list  %}
                         {% include "_article.html.twig" %}
                  {% endfor %}
           </section>
       {% endblock %}