{% extends "base.html.twig" %}

{% block title %}
    <title>{{ article.titre }}</title>
{% endblock %}

{%  block main %}
    {% include "_article.html.twig" %}
{% endblock %}

{% block footer %}
    <p>footer 3</p>
{% endblock %}

