<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
        <title>Blog Exo Symfony</title>
    {% endblock %}
    <link rel= "stylesheet" href= "{{ asset("style.css") }}">
</head>
<body>
<header class= "main-menu">
    <h1 class= "main-title">Blog Exo Symfony</h1>
    <nav class= "navbar">
        <ul class= "menu">
            <li>
                <a class= "btn-home" href="{{ path("home") }}"> Accueil </a>
            </li>
            <li>
                <a class= "btn-list" href="{{ path("admin_articlesList") }}"> Liste des articles </a>
            </li>
            <li>
                <a class= "btn-cat" href="{{ path("admin_categories") }}">Liste des catégories</a>
            </li>
        </ul>
    </nav>
</header>

<main>

    {% block main %}
    {% endblock %}

</main>

<footer>
    {% block footer %}
        <p>footer</p>
    {% endblock %}
</footer>

</body>
</html>