{% extends "base.html.twig" %}

{% block main %}
        {% for category in categories  %}
            <article>
                <h2 style="color: {{ category.color }}">{{ category.title }}</h2>
                <a href="{{ path("category",{"id":category.id}) }}">Clique ici pour choisir ce fruit</a>
            </article>
        {% endfor %}

{% endblock %}

