{% extends "base.html.twig" %}

{% block main %}
      <section class= "container">
            {% for article in lastArticles %}
                  {% if article.isPublished %}
                        <article>
                              <h2 class= "article-title">{{ article.title }}</h2>
                              <a href={{ path("admin_article", {"id": article.id}) }}>Cliquez ici</a>
                              <a href={{ path("admin_delete_article", {"id": article.id}) }}> Supprimez ici</a>
                              <p class= "author">{{ article.author }}</p>
                        </article>
                  {% else %}
                        <p> L'article n'est pas publié </p>
                  {% endif %}
            {% endfor %}
      </section>
{% endblock %}

{% block footer %}
      <p>footer 1</p>
{% endblock %}