{% extends "base.html.twig" %}

      {% block main %}
            <section class= "container">
                  {% for article in last_articles %}
                        {% include "_article.html.twig" %}
                  {% endfor %}
            </section>
      {% endblock %}