{% include"_header.html.twig" %}
<div class="container">
      {% for article in last_articles %}
            {% include "_article.html.twig" %}
      {% endfor %}
</div>
{% include"_footer.html.twig" %}