{% extends "base.html.twig" %}

{% block main %}
      <section class= "container">
            {% for article in lastArticles %}
                  {% include "_article.html.twig" %}
            {% endfor %}
      </section>
{% endblock %}

{% block footer %}
      <p>footer 1</p>
{% endblock %}